.quote_and_contactMe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 933px;
  margin: 10px 10% 50px 10%;
  padding: 50px 50px 40px 50px;
  border: 1pt solid #84A98C;
  box-shadow: 5px 10px 18px #888888;
  border-radius: 50%;
  background-color: #FFFFFF;
  font-family: cursive;
  font-size: 22px;
  font-stretch: extra-expanded;
  word-spacing: 5px;
  text-align: center;
}
.quote p {
  color: #212529;
}

span.contactMe {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: linear-gradient(-45deg, #84A98C 0%, #bed1c2 25%, #84A98C 50%, #bed1c2 70%, #84A98C 100%);
  padding-left: -50px;
  width: 75%;
  height: 55px;
  align-items: center;
}

.contactMe a {
  height: 75px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}
.contactMe p{
  display: flex;
  align-items: center;
  margin: 0px;
}
.contactMe img {
  width: 40px;
  height: 40px;
}
.contactMeByMail img {
  width: 40px;
  height: 40px;
}

.line1 {
}
.line1 hr {
}
