.navbar {
  background: linear-gradient(-45deg, #84A98C 0%, #bed1c2 50%, #84A98C 100%);
  border: 1pt solid #84A98C;
  border-radius: 5px;
  width: 100vw;
}

#navbarNavDropdown {
  margin: 0 -16px -8px -16px;
  padding: 5px 16px 8px 30px;
}

.navbar-brand {
  padding: 0 0 0 10px;
  height: 48px;
  margin: -5px 10px -10px 0px;

}
.navbar-brand p {
  font-family: 'Dancing Script', cursive;
  font-size: 26px;
  width: inherit;
  font-weight: normal;
  color: rgba(0,0,0,.5);
}
.navbar-brand p:hover {
  color: #212529;
  font-size: 26px;
}

a.nav-link {
  padding: 0;
}
a.nav-link:hover {
  color: #212529;
  padding: 0 8px;
  margin-top: 0;
  font-size: 15px;
}


/* ------------------- */



.nav {
  /* display: flex;
  flex-direction: row;

  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100vw;
  height: 80px;

  padding: 0;
  margin: 0px;
  align-items: center;
  border-radius: 5px;

  background: linear-gradient(-45deg, #84A98C 0%, #bed1c2 50%, #84A98C 100%); */
}

.nav a {
  /* display: flex;
  color: #354F52; */
}

.nav_nameDiv {
  /* width: fit-content;
  margin: 20px 20px 0 40px; */
}

.nav_nameDiv a {
  /* font-family:fantasy;
  text-decoration: none;
  padding-right: 15px; */
}
.nav_nameDiv a:hover {
  /* color: white; */
}

.nav_liListDiv {
  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; */
}

.nav_liListDiv li {
  /* list-style-type: none;
  padding-left: 20px;
  padding-right: 20px; */
}
.nav_liListDiv a {
  /* text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  text-align: center; */
}

.nav_liListDiv a:visited {
  /* background-color: #2F3E46;
  padding: 10px; */
}

 .nav_liListDiv a:hover {
  /* color: white;
  text-decoration: underline white solid; */
}

.arrowUpIcon img {
  width: 40px;
  /* border-radius: 50%;
  background-color: #CAD2C5;
  padding: 5px;
  height: 35px;
  position: fixed;
  right: 40px;
  bottom: 60px; */
}
.arrowUpIcon img:hover {
  /* background-color: #84A98C; */
}
